<!--Formular für Anzeigen-->

<form>
    <fieldset style="width: 500px">
        <legend>Submit Report</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Kategorie
                    <select data-bind="options: categories, optionsText: 'name'"></select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Hersteller
                    <input type="text" placeholder="Hersteller und Modell" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Farbe
                    <select data-bind="options: bikeColors, optionsText: 'bikeColor'"></select>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>
                    Bezeichnung
                    <select data-bind="options: bikeCategories, optionsText: 'description'"></select>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>
                    Rahmennummer
                    <input type="number" placeholder="Rahmennummer des Fahrrads" />
                </label>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="large-4 columns">
                <label>
                    Input Label
                    <input type="text" placeholder="large-4.columns" />
                </label>
            </div>-->
            <!--<div class="large-4 columns">
                <label>
                    Input Label
                    <input type="text" placeholder="large-4.columns" />
                </label>
            </div>-->
            <!--<div class="large-4 columns">-->
                <!--<div class="row collapse">
                    <label>Input Label</label>
                    <div class="small-9 columns">
                        <input type="text" placeholder="small-9.columns" />
                    </div>
                    <div class="small-3 columns">
                        <span class="postfix">.com</span>
                    </div>
                </div>-->
            <!--</div>
        </div>-->

        <div class="row">
            <div class="large-6 columns">
                <label>Choose Your Favorite</label>
                <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
                <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
            </div>
            <div class="large-6 columns">
                <label>Check these out</label>
                <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Further description
                    <textarea placeholder="Any important information about your item"></textarea>
                </label>
            </div>
        </div>
        
            <a href="#" style="align-self:center" class="button [radius round] [small]">Submit Report</a>
        

    </fieldset>
</form>