<!--Formular für Anzeigen-->

<form data-bind="submit:submit">
    <fieldset style="width: 500px">
        <legend>Submit Report</legend>
        <div class="row">
                <label>
                    Kategorie
                    <select data-bind="options: categories, optionsText: 'name', value: selectedCategory"></select>
                </label>
        </div>

        <div class="row">
                <label>
                    Kategorie
                    <select data-bind="options: selectedCategory().subcategories, optionsText: 'name', value: selectedCategorySubcategory"></select>
                </label>
        </div>
        <div class="row">
                <label>
                    Hersteller
                    <input type="text" placeholder="Hersteller und Modell" />
                </label>
        </div>
        <!--<div class="row">
                <label>
                    Farbe
                    <select data-bind="options: colors, optionsText: 'color'"></select>
                </label>
        </div>-->

        <!--<div class="row">
                <label>
                    Bezeichnung
                </label>
        </div>-->

        <div class="row" data-bind="if:selectedCategory().hasUniqueID">
            <label>
                Rahmennummer
                <input type="number" placeholder="Rahmennummer des Fahrrads" />
            </label>
        </div>

        <div class="row">
            <div class="large-6 columns">
                <label>Choose Your Favorite</label>
                <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
                <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
            </div>
            <div class="large-6 columns">
                <label>Check these out</label>
                <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Further description
                    <textarea placeholder="Any important information about your item"></textarea>
                </label>
            </div>
        </div>

        <input type="submit" style="align-self:center" class="button [radius round] [small]">Submit Report</>


    </fieldset>
</form>